.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.clearfix::after {
  display: block;
  content: '';
  clear: both;
  font-size: 0;
  height: 0;
}
body,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: sans-serif;
}
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  z-index: 9;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  position: fixed;
  background-color: #113448;
  padding: 0 20px;
}
.navbar .container-fluid .navbar-header button.navbar-toggle {
  border: none;
  padding: 7px 10px;
  margin-right: 0;
}
.navbar .container-fluid .navbar-header button.navbar-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}
.navbar .container-fluid .navbar-header button.navbar-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}
.navbar .container-fluid .navbar-header button.navbar-toggle span {
  width: 26px;
  height: 4px;
  background-color: white;
}
.navbar .container-fluid .navbar-header a.navbar-brand {
  padding: 0;
  width: 120px;
  height: 50px;
}
.navbar .container-fluid .navbar-header a.navbar-brand img {
  margin-top: 8px;
  width: 100%;
  line-height: 50px;
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li a {
  color: white;
  font-size: 16px;
  font-weight: 600;
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li a:hover {
  color: #2ee7bc;
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li a.active {
  color: #2ee7bc;
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li a.dropdown-toggle:hover {
  background-color: rgba(0, 0, 0, 0);
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li a.dropdown-toggle:focus {
  background-color: rgba(0, 0, 0, 0);
}
.navbar .container-fluid .navbar-collapse ul.navbar-nav li.dropdown ul.dropdown-menu {
  background-color: rgba(0, 0, 0, 0);
}
section.banner {
  background: url('../images/header-background.jpg') no-repeat top;
  -moz-background-size: cover;
       background-size: cover;
  background-attachment: fixed;
  padding: 100px 0;
}
section.banner .container {
  text-align: center;
  color: white;
}
section.banner .container h1 {
  line-height: 60px;
  font-weight: bolder;
  font-size: 30px;
  text-align: left;
}
section.banner .container p {
  font-size: 18px;
  margin: 0 auto;
  color: #ffffff;
  text-align: left;
}
section.banner .container button.btn {
  border: 2px solid #14bf98;
  padding: 10px 30px;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  margin-top: 40px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  outline: none;
  position: relative;
  background-color: #14bf98;
}
section.banner .container button.btn:hover {
  background-color: rgba(0, 0, 0, 0);
}
section.banner .container button.btn a {
  display: block;
  position: static;
  width: 100%;
  height: 100%;
  color: white;
  text-decoration: none;
  font-size: 14px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0);
}
section.intro {
  padding: 80px 0 50px;
}
section.intro .row.intro-t {
  margin-bottom: 80px;
}
section.intro .row.intro-t p.tip {
  color: #14bf98;
  font-weight: 550;
  margin: 0;
}
section.intro .row.intro-t h3 {
  font-weight: bold;
  font-size: 26px;
  color: #484a46;
}
section.intro .row.intro-t p {
  color: #999;
  font-size: 17px;
  line-height: 1.5em;
}
section.intro .row.intro-t h5 {
  font-weight: bold;
  color: #484a46;
  font-size: 18px;
}
section.intro .row.intro-t .img-fluid {
  overflow: hidden;
}
section.intro .row.intro-t .img-fluid img {
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
section.intro .row.intro-t .img-fluid img:hover {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
section.intro .row.intro-b {
  text-align: center;
}
section.intro .row.intro-b div.icon-box {
  display: inline-block;
  width: 96px;
  height: 96px;
  background-color: red;
  background: url('../images/hexagon-green.svg') no-repeat center;
  text-align: center;
}
section.intro .row.intro-b div.icon-box span {
  line-height: 96px;
  font-size: 36px;
  color: white;
}
section.intro .row.intro-b h3 {
  font-weight: bold;
  color: #484a46;
}
section.intro .row.intro-b p {
  font-size: 16px;
  color: #787976;
  line-height: 1.5em;
  margin-bottom: 50px;
}
section.services {
  background-color: #fbfbfb;
  padding: 80px 0;
}
section.services .container .title {
  text-align: center;
}
section.services .container .title h5 {
  color: #14bf98;
  font-size: 14px;
  font-weight: 600;
}
section.services .container .title h3 {
  font-size: 24px;
  font-weight: 600;
  color: #484a46;
  margin-bottom: 40px;
}
section.services .container .row div[class^=col] {
  padding: 0 15px;
  position: relative;
  margin-bottom: 50px;
}
section.services .container .row .card {
  overflow: hidden;
  -webkit-border-radius: 5px;
     -moz-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 0 1px #666;
     -moz-box-shadow: 0 0 1px #666;
          box-shadow: 0 0 1px #666;
}
section.services .container .row .card .card-box {
  padding: 20px;
  background-color: white;
}
section.services .container .row .card .card-box h3 {
  text-align: center;
  margin: 0;
  font-weight: bolder;
  font-size: 20px;
  color: #484a46;
  line-height: 2em;
}
section.services .container .row .card .card-box p {
  color: #787976;
  line-height: 1.5em;
  font-size: 16px;
}
section.services .container .row .card .card-box ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
section.services .container .row .card .card-box ul li {
  color: #787976;
  line-height: 2em;
  font-size: 16px;
}
section.services .container .row .card .card-box ul li span {
  display: inline-block;
  width: 11px;
  height: 11px;
  background-color: #14bf98;
  line-height: 1.5em;
  margin-right: 5px;
}
section.services .container .row .card .card-box p.price {
  margin-top: 15px;
  margin-bottom: 10px;
  text-align: center;
  color: #484a46;
  font-weight: bold;
}
section.services .container .row .card .card-box p.price span {
  color: #14bf98;
}
section.services .container .row .card .detail {
  display: block;
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
  text-align: center;
}
section.services .container .row .card .detail a {
  display: inline-block;
}
section.services .container .row .card .detail a:hover button {
  background-color: white;
  color: #14bf98;
}
section.services .container .row .card .detail a button {
  display: inline-block;
  border: none;
  outline: none;
  background-color: #14bf98;
  border: 2px solid #14bf98;
  font-weight: bold;
  color: white;
  padding: 10px 30px;
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}
section.business .container-fluid {
  padding: 0;
  overflow: hidden;
}
section.business .container-fluid div[class^=col-] {
  padding: 0;
}
section.business .container-fluid .row-top h3 {
  font-size: 20px;
  font-weight: bold;
  color: #484a46;
  margin-top: 30px;
  margin-bottom: 40px;
}
section.business .container-fluid .row-top .fluid-img {
  width: 100%;
  height: 300px;
  background: url('../images/details-1-background.jpg') no-repeat center;
  -moz-background-size: cover;
       background-size: cover;
}
section.business .container-fluid .row-top .content {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-right: 30px;
  padding-left: 50px;
}
section.business .container-fluid .row-top .content dl {
  margin-bottom: 0;
  margin-top: 30px;
}
section.business .container-fluid .row-top .content dl dt {
  font-size: 18px;
  color: #484a46;
  cursor: pointer;
}
section.business .container-fluid .row-top .content dl dt.active span {
  color: white;
  background-color: #14bf98;
  border-color: #14bf98;
}
section.business .container-fluid .row-top .content dl dt:hover {
  color: #14bf98;
}
section.business .container-fluid .row-top .content dl dt:hover span {
  border-color: #14bf98;
}
section.business .container-fluid .row-top .content dl dt span {
  display: inline-block;
  width: 35px;
  height: 35px;
  text-align: center;
  line-height: 35px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  border: 2px solid #484a46;
  font-size: 18px;
  margin-right: 10px;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
section.business .container-fluid .row-top .content dl dd {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 50px;
  padding-right: 40px;
  font-size: 16px;
  color: #949490;
}
section.business .container-fluid .row-bottom .tabs {
  *zoom: 1;
  overflow: hidden;
  position: relative;
  margin: 80px 10px 0 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  height: 450px;
}
section.business .container-fluid .row-bottom .tabs::after {
  display: block;
  content: '';
  clear: both;
  font-size: 0;
  height: 0;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab {
  *zoom: 1;
  margin-bottom: 20px;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab::after {
  display: block;
  content: '';
  clear: both;
  font-size: 0;
  height: 0;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab li {
  float: left;
  margin-left: 10px;
  cursor: pointer;
  font-size: 20px;
  font-weight: bold;
  color: #787976;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab li span {
  margin-right: 10px;
  font-size: 14px;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab li:hover {
  color: #14bf98;
}
section.business .container-fluid .row-bottom .tabs ul.switch-tab li.active {
  color: #14bf98;
}
section.business .container-fluid .row-bottom .tabs ul.content {
  position: relative;
  top: 0;
  left: 0;
  *zoom: 1;
}
section.business .container-fluid .row-bottom .tabs ul.content::after {
  display: block;
  content: '';
  clear: both;
  font-size: 0;
  height: 0;
}
section.business .container-fluid .row-bottom .tabs ul.content > li {
  float: left;
  overflow: hidden;
}
section.business .container-fluid .row-bottom .tabs ul.content > li .info {
  padding: 0 20px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section.business .container-fluid .row-bottom .tabs ul.content li.business h3 {
  font-size: 18px;
  font-weight: bold;
  margin-top: 0;
}
section.business .container-fluid .row-bottom .tabs ul.content li.business p {
  color: #999;
  font-size: 16px;
  line-height: 1.5em;
}
section.business .container-fluid .row-bottom .tabs ul.content li.business dl dd {
  display: block;
  height: 10px;
  width: 100px;
  background: -webkit-gradient(linear, left top, right bottom, from(#14bf98), to(#1bd1a7));
  background: -webkit-linear-gradient(top left, #14bf98, #1bd1a7);
  background: -moz- oldlinear-gradient(top left, #14bf98, #1bd1a7);
  background: -o-linear-gradient(top left, #14bf98, #1bd1a7);
  background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
  position: relative;
  margin-top: 10px;
}
section.business .container-fluid .row-bottom .tabs ul.content li.business dl dd::after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 300px;
  background: rgba(65, 65, 65, 0.137);
  height: 100%;
  z-index: -1;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise {
  font-size: 12px;
  *zoom: 1;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise::after {
  display: block;
  content: '';
  clear: both;
  font-size: 0;
  height: 0;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part {
  width: 50%;
  float: left;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-content: flex-start;
      -ms-flex-line-pack: start;
          align-content: flex-start;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part h1 {
  margin: 0;
  margin-right: 10px;
  color: #14bf98;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p {
  padding-right: 30px;
  color: #999;
  font-size: 16px;
}
section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p span {
  color: #484a46;
}
section.business .container-fluid .row-bottom .tabs ul.content li.quality .info {
  color: #787976;
}
section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p {
  font-size: 16px;
  color: #787976;
}
section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p span {
  color: #484a46;
}
section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li {
  line-height: 25px;
  font-size: 16px;
}
section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li span {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #14bf98;
  margin-right: 10px;
}
section.business .container-fluid .row-bottom .fluid-img {
  height: 300px;
  background: url('../images/details-2-background.jpg') no-repeat center;
  -moz-background-size: cover;
       background-size: cover;
}
section.read-our {
  background: #fbfbfb;
  text-align: center;
  padding: 60px 0;
}
section.read-our h2 {
  font-weight: bold;
  color: #484a46;
  font-size: 26px;
}
section.read-our p {
  color: #787976;
  font-size: 16px;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  line-height: 2em;
  margin-bottom: 50px;
}
section.read-our .container {
  position: relative;
}
section.read-our .container .swiper-container {
  width: 90%;
}
section.read-our .container .swiper-container .swiper-wrapper .swiper-slide {
  text-align: center;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 20px;
}
section.read-our .container .swiper-container .swiper-wrapper .swiper-slide img {
  width: 96px;
  height: 96px;
  -webkit-border-radius: 50%;
     -moz-border-radius: 50%;
          border-radius: 50%;
  margin-bottom: 20px;
}
section.read-our .container .swiper-container .swiper-wrapper .swiper-slide p {
  color: #787976;
  font-size: 16px;
  line-height: 1.8em;
  padding: 0 ;
  margin: 0;
}
section.read-our .container .swiper-container .swiper-wrapper .swiper-slide h5 {
  font-weight: bolder;
  font-size: 16px;
  color: #484a46;
}
section.read-our .container .swiper-container.switch {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
section.read-our .container .swiper-container.switch .swiper-button-prev {
  left: 0px;
  color: #787976;
}
section.read-our .container .swiper-container.switch .swiper-button-next {
  right: 0px;
  color: #787976;
}
section.call-me {
  background-color: #153e52;
  padding: 50px 0;
}
section.call-me .container .left h5 {
  color: #14bf98;
  margin: 0;
}
section.call-me .container .left h3 {
  color: white;
  font-weight: bold;
  margin: 0;
  margin-top: 20px;
  margin-bottom: 30px;
  font-size: 24px;
}
section.call-me .container .left p {
  color: #dfe5ec;
  font-size: 16px;
  line-height: 1.5em;
}
section.call-me .container .left ul li {
  color: #dfe5ec;
  font-size: 16px;
  line-height: 1.5em;
}
section.call-me .container .left ul li::before {
  content: '';
  display: inline-block;
  width: 10px;
  height: 10px;
  background: #14bf98;
  -webkit-border-radius: 2px;
     -moz-border-radius: 2px;
          border-radius: 2px;
  margin-right: 10px;
}
section.call-me .container .right {
  color: #dfe5ec;
}
section.call-me .container .right label {
  width: 100%;
}
section.call-me .container .right input {
  width: 100%;
  height: 45px;
  background: #2a5d77;
  outline: none;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding-left: 15px;
  border: 1px solid #39728f;
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}
section.call-me .container .right input:hover {
  border: 1px solid white;
}
section.call-me .container .right input::-webkit-input-placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right input:-moz-placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right input::-moz-placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right input:-ms-input-placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right input::-ms-input-placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right input::placeholder {
  color: #dfe5ec;
  font-size: 18px;
  font-weight: 300;
}
section.call-me .container .right .agree {
  margin-top: 15px;
}
section.call-me .container .right input.checkbox {
  width: 15px;
  height: 15px;
  vertical-align: top;
  margin: 0;
  display: inline-block;
  vertical-align: text-top;
}
section.call-me .container .right input[type="submit"] {
  background: #14bf98;
  border: 2px solid #14bf98;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
  color: white;
}
section.call-me .container .right input[type="submit"]:hover {
  background: #2a5d77;
}
section.our-team {
  background: #fbfbfb;
  padding: 100px 0 ;
  text-align: center;
}
section.our-team .container h2 {
  font-weight: bold;
  color: #484a46;
}
section.our-team .container p {
  color: #787976;
  font-size: 18px;
  margin-bottom: 60px;
}
section.our-team .container .row div.col-md-3 .box {
  width: 204px;
  height: 177px;
  margin: 0 auto;
  overflow: hidden;
  margin-bottom: 20px;
}
section.our-team .container .row div.col-md-3 .box img {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
section.our-team .container .row div.col-md-3 .box:hover img {
  -webkit-transform: scale(1.1);
     -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
       -o-transform: scale(1.1);
          transform: scale(1.1);
}
section.our-team .container .row div.col-md-3 p.name {
  font-size: 20px;
  color: #787976;
  margin: 0;
  font: "Open Sans";
  font-weight: 100;
}
section.our-team .container .row div.col-md-3 h3 {
  margin: 0;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 15px;
  color: #484a46;
}
section.our-team .container .row div.col-md-3 div.contact {
  margin-bottom: 20px;
}
section.our-team .container .row div.col-md-3 div.contact a {
  display: inline-block;
  width: 30px;
  height: 30px;
  background: url("../images/hexagon-green.svg") no-repeat center;
  line-height: 30px;
  text-align: center;
  font-size: 18px;
  color: white;
  text-decoration: none;
}
section.our-team .container .row div.col-md-3 div.contact a:hover {
  color: #14bf98;
  background: rgba(0, 0, 0, 0);
}
section.our-team .container .row div.col-md-3 div.contact a i {
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}
footer {
  background: #113448;
  color: #dfe5ec;
  padding-top: 60px;
  padding-bottom: 10px;
}
footer h3 {
  color: white;
  font-weight: bold;
}
footer p {
  line-height: 1.6em;
}
footer .links {
  float: left;
  margin-right: 30px;
}
footer .links h2 {
  color: white;
  font-size: 22px;
}
footer .links a {
  display: block;
  color: #dfe5ec;
  text-decoration: underline;
  margin-bottom: 10px;
}
footer p.copy-right {
  text-align: center;
  font-size: 16px;
  margin: 0;
  margin-top: 30px;
}
/* 超小屏幕（手机，小于 768px） */
/* 没有任何媒体查询相关的代码，因为这在 Bootstrap 中是默认的（还记得 Bootstrap 是移动设备优先的吗？） */
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .navbar {
    padding: 30px 50px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    color: white;
    border: none;
    z-index: 9;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  .navbar .container-fluid .navbar-header a.navbar-brand {
    padding: 0;
    width: 120px;
    height: 50px;
  }
  .navbar .container-fluid .navbar-header a.navbar-brand img {
    margin-top: 8px;
    width: 100%;
    line-height: 50px;
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li a {
    color: white;
    font-size: 16px;
    font-weight: 600;
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li a:hover {
    color: #2ee7bc;
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li a.active {
    color: #2ee7bc;
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li a.dropdown-toggle:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li a.dropdown-toggle:focus {
    background-color: rgba(0, 0, 0, 0);
  }
  .navbar .container-fluid .navbar-collapse ul.navbar-nav li.dropdown ul.dropdown-menu {
    background-color: #113448;
  }
  .navbar.active {
    position: fixed;
    background-color: #113448;
    padding: 0 50px;
  }
  section.banner {
    background: url('../images/header-background.jpg') no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
    background-attachment: fixed;
    padding: 200px 0;
  }
  section.banner .container {
    text-align: center;
    color: white;
  }
  section.banner .container h1 {
    line-height: 60px;
    font-weight: bolder;
    font-size: 50px;
    text-align: center;
  }
  section.banner .container p {
    font-size: 20px;
    margin: 0 auto;
    color: #ffffff;
    text-align: center;
    padding: 0 200px;
  }
  section.banner .container button.btn {
    border: 2px solid #14bf98;
    padding: 10px 25px;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    margin-top: 60px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
    outline: none;
    position: relative;
    background-color: #14bf98;
  }
  section.banner .container button.btn:hover {
    background-color: rgba(0, 0, 0, 0);
  }
  section.banner .container button.btn a {
    display: block;
    position: static;
    width: 100%;
    height: 100%;
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 0);
  }
  section.intro {
    padding: 100px 0;
  }
  section.intro .row.intro-t {
    margin-bottom: 80px;
  }
  section.intro .row.intro-t p.tip {
    color: #14bf98;
    font-weight: 550;
    margin: 0;
  }
  section.intro .row.intro-t h3 {
    font-weight: bold;
    font-size: 26px;
    color: #484a46;
  }
  section.intro .row.intro-t p {
    color: #999;
    font-size: 17px;
    line-height: 1.5em;
  }
  section.intro .row.intro-t h5 {
    font-weight: bold;
    color: #484a46;
    font-size: 18px;
  }
  section.intro .row.intro-b div.icon-box {
    width: 96px;
    height: 96px;
    background-color: red;
    background: url('../images/hexagon-green.svg') no-repeat center;
    text-align: center;
  }
  section.intro .row.intro-b div.icon-box span {
    line-height: 96px;
    font-size: 36px;
    color: white;
  }
  section.intro .row.intro-b h3 {
    font-weight: bold;
    color: #484a46;
  }
  section.intro .row.intro-b p {
    font-size: 16px;
    color: #787976;
    line-height: 1.5em;
  }
  section.services {
    background-color: #fbfbfb;
    padding: 100px 0;
  }
  section.services .container .title {
    text-align: center;
  }
  section.services .container .title h5 {
    color: #14bf98;
    font-size: 14px;
    font-weight: 600;
  }
  section.services .container .title h3 {
    font-size: 28px;
    font-weight: 600;
    color: #484a46;
    margin-bottom: 40px;
  }
  section.services .container .row div[class^=col] {
    padding: 0 30px;
    position: relative;
    margin-bottom: 0px;
  }
  section.services .container .row .card {
    overflow: hidden;
    -webkit-border-radius: 5px;
       -moz-border-radius: 5px;
            border-radius: 5px;
    -webkit-box-shadow: 0 0 1px #666;
       -moz-box-shadow: 0 0 1px #666;
            box-shadow: 0 0 1px #666;
  }
  section.services .container .row .card .card-box {
    padding: 30px;
    background-color: white;
  }
  section.services .container .row .card .card-box h3 {
    text-align: center;
    margin: 0;
    font-weight: bolder;
    font-size: 20px;
    color: #484a46;
    line-height: 2em;
  }
  section.services .container .row .card .card-box p {
    color: #787976;
    line-height: 1.5em;
    font-size: 16px;
  }
  section.services .container .row .card .card-box ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  section.services .container .row .card .card-box ul li {
    color: #787976;
    line-height: 2em;
    font-size: 16px;
  }
  section.services .container .row .card .card-box ul li span {
    display: inline-block;
    width: 11px;
    height: 11px;
    background-color: #14bf98;
    line-height: 1.5em;
    margin-right: 5px;
  }
  section.services .container .row .card .card-box p.price {
    margin-top: 20px;
    text-align: center;
    color: #484a46;
    font-weight: bold;
  }
  section.services .container .row .card .card-box p.price span {
    color: #14bf98;
  }
  section.services .container .row .card .detail {
    display: block;
    position: absolute;
    bottom: -22px;
    left: 0;
    width: 100%;
    text-align: center;
  }
  section.services .container .row .card .detail a {
    display: inline-block;
  }
  section.services .container .row .card .detail a:hover button {
    background-color: white;
    color: #14bf98;
  }
  section.services .container .row .card .detail a button {
    display: inline-block;
    border: none;
    outline: none;
    background-color: #14bf98;
    border: 2px solid #14bf98;
    font-weight: bold;
    color: white;
    padding: 10px 30px;
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    -moz-transition: all 0.2s;
    transition: all 0.2s;
  }
  section.business .container-fluid {
    padding: 0;
    overflow: hidden;
  }
  section.business .container-fluid div[class^=col-] {
    padding: 0;
  }
  section.business .container-fluid .row-top h3 {
    font-size: 20px;
    font-weight: bold;
    color: #484a46;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  section.business .container-fluid .row-top .fluid-img {
    width: 100%;
    height: 400px;
    background: url('../images/details-1-background.jpg') no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
  }
  section.business .container-fluid .row-top .content {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 50px;
    padding-left: 50px;
  }
  section.business .container-fluid .row-top .content dl {
    margin-bottom: 0;
    margin-top: 30px;
  }
  section.business .container-fluid .row-top .content dl dt {
    font-size: 18px;
    color: #484a46;
    cursor: pointer;
  }
  section.business .container-fluid .row-top .content dl dt.active span {
    color: white;
    background-color: #14bf98;
    border-color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt:hover {
    color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt:hover span {
    border-color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt span {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #484a46;
    font-size: 18px;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  section.business .container-fluid .row-top .content dl dd {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 30px;
    font-size: 16px;
    color: #949490;
  }
  section.business .container-fluid .row-bottom .tabs {
    *zoom: 1;
    overflow: hidden;
    position: relative;
    margin: 0px 10px 0 30px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-top: 20px;
  }
  section.business .container-fluid .row-bottom .tabs::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab {
    *zoom: 1;
    margin-bottom: 30px;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #787976;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li span {
    margin-right: 10px;
    font-size: 14px;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li:hover {
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li.active {
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.content {
    position: relative;
    top: 0;
    left: 0;
    *zoom: 1;
  }
  section.business .container-fluid .row-bottom .tabs ul.content::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content > li {
    float: left;
    overflow: hidden;
  }
  section.business .container-fluid .row-bottom .tabs ul.content > li .info {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business p {
    color: #999;
    font-size: 16px;
    line-height: 1.5em;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business dl dd {
    display: block;
    height: 10px;
    width: 100px;
    background: -webkit-gradient(linear, left top, right bottom, from(#14bf98), to(#1bd1a7));
    background: -webkit-linear-gradient(top left, #14bf98, #1bd1a7);
    background: -moz- oldlinear-gradient(top left, #14bf98, #1bd1a7);
    background: -o-linear-gradient(top left, #14bf98, #1bd1a7);
    background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business dl dd::after {
    width: 400px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise {
    font-size: 12px;
    *zoom: 1;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part h1 {
    margin: 0;
    margin-right: 10px;
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p {
    padding-right: 30px;
    color: #999;
    font-size: 16px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p span {
    color: #484a46;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info {
    color: #787976;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p {
    font-size: 16px;
    color: #787976;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p span {
    color: #484a46;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li {
    line-height: 25px;
    font-size: 16px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #14bf98;
    margin-right: 10px;
  }
  section.business .container-fluid .row-bottom .fluid-img {
    height: 400px;
    background: url('../images/details-2-background.jpg') no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
  }
  section.read-our {
    padding: 90px 0;
  }
  section.read-our p {
    padding: 0 400px;
  }
  section.call-me {
    background-color: #153e52;
    padding: 90px 0;
  }
  section.call-me .container .left p {
    color: #dfe5ec;
    font-size: 16px;
    line-height: 1.5em;
  }
  section.call-me .container .left ul li {
    color: #dfe5ec;
    font-size: 16px;
    line-height: 2em;
  }
  section.call-me .container .left ul li::before {
    content: '';
    display: inline-block;
    width: 10px;
    height: 10px;
    background: #14bf98;
    -webkit-border-radius: 2px;
       -moz-border-radius: 2px;
            border-radius: 2px;
    margin-right: 10px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
@media (min-width: 992px) {
  section.business .container-fluid {
    padding: 0;
    overflow: hidden;
  }
  section.business .container-fluid div[class^=col-] {
    padding: 0;
  }
  section.business .container-fluid .row-top h3 {
    font-size: 26px;
    font-weight: bold;
    color: #484a46;
    margin-top: 100px;
    margin-bottom: 40px;
  }
  section.business .container-fluid .row-top .fluid-img {
    width: 100%;
    height: 500px;
    background: url('../images/details-1-background.jpg') no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
  }
  section.business .container-fluid .row-top .content {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-right: 150px;
    padding-left: 50px;
  }
  section.business .container-fluid .row-top .content dl {
    margin-bottom: 0;
    margin-top: 40px;
  }
  section.business .container-fluid .row-top .content dl dt {
    font-size: 20px;
    color: #484a46;
    cursor: pointer;
  }
  section.business .container-fluid .row-top .content dl dt.active span {
    color: white;
    background-color: #14bf98;
    border-color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt:hover {
    color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt:hover span {
    border-color: #14bf98;
  }
  section.business .container-fluid .row-top .content dl dt span {
    display: inline-block;
    width: 35px;
    height: 35px;
    text-align: center;
    line-height: 35px;
    -webkit-border-radius: 50%;
       -moz-border-radius: 50%;
            border-radius: 50%;
    border: 2px solid #484a46;
    font-size: 18px;
    margin-right: 10px;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  section.business .container-fluid .row-top .content dl dd {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    padding-left: 50px;
    padding-right: 100px;
    font-size: 16px;
    color: #949490;
  }
  section.business .container-fluid .row-bottom .tabs {
    *zoom: 1;
    overflow: hidden;
    position: relative;
    margin: 40px 50px 0 80px;
  }
  section.business .container-fluid .row-bottom .tabs::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab {
    *zoom: 1;
    margin-bottom: 30px;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li {
    float: left;
    margin-left: 20px;
    cursor: pointer;
    font-size: 22px;
    font-weight: bold;
    color: #787976;
    -webkit-transition: all 0.3s;
    -o-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li span {
    margin-right: 10px;
    font-size: 14px;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li:hover {
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.switch-tab li.active {
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.content {
    position: relative;
    top: 0;
    left: 0;
    *zoom: 1;
  }
  section.business .container-fluid .row-bottom .tabs ul.content::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content > li {
    float: left;
    overflow: hidden;
  }
  section.business .container-fluid .row-bottom .tabs ul.content > li .info {
    padding: 0 20px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business h3 {
    font-size: 18px;
    font-weight: bold;
    margin-top: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business p {
    color: #999;
    font-size: 16px;
    line-height: 1.5em;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.business dl dd {
    display: block;
    height: 10px;
    width: 100px;
    background: -webkit-gradient(linear, left top, right bottom, from(#14bf98), to(#1bd1a7));
    background: -webkit-linear-gradient(top left, #14bf98, #1bd1a7);
    background: -moz- oldlinear-gradient(top left, #14bf98, #1bd1a7);
    background: -o-linear-gradient(top left, #14bf98, #1bd1a7);
    background: linear-gradient(to bottom right, #14bf98, #1bd1a7);
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise {
    font-size: 12px;
    *zoom: 1;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise::after {
    display: block;
    content: '';
    clear: both;
    font-size: 0;
    height: 0;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part {
    width: 50%;
    float: left;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-content: flex-start;
        -ms-flex-line-pack: start;
            align-content: flex-start;
    margin-top: 20px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part h1 {
    margin: 0;
    margin-right: 10px;
    color: #14bf98;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p {
    padding-right: 30px;
    color: #999;
    font-size: 16px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.expertise .part p span {
    color: #484a46;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info {
    color: #787976;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p {
    font-size: 16px;
    color: #787976;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info p span {
    color: #484a46;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li {
    line-height: 25px;
    font-size: 16px;
  }
  section.business .container-fluid .row-bottom .tabs ul.content li.quality .info ul li span {
    display: inline-block;
    width: 10px;
    height: 10px;
    background-color: #14bf98;
    margin-right: 10px;
  }
  section.business .container-fluid .row-bottom .fluid-img {
    height: 500px;
    background: url('../images/details-2-background.jpg') no-repeat center;
    -moz-background-size: cover;
         background-size: cover;
  }
}
/* 大屏幕（大桌面显示器，大于等于 1200px） */
/*# sourceMappingURL=./style.css.map */